{{define "index/about"}}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    {{template "index/head" .}}
</head>
<body>
  {{template "index/header" .}}

  <div id="pjax-container">
    <style>
        .central-600 {
            background: url({{.about.Aboutimg}}) no-repeat center top;
            /* background: url(php 数据库获取) no-repeat center top; */
            background-size: cover;
        }

        .central {
            padding: 0;
        }
    </style>

    <h4 class="text-ce central">与 <i>{{.about.Title}}</i>小站对话中...</h4>
    <div class="central central-600 animated fadeInUp delay-03s">
        <div class="botui-app-container" id="botui-app">
            <bot-ui></bot-ui>
        </div>
    </div>

    <script>
        var botui = new BotUI("botui-app");
        botui.message.bot({
            delay: 200,
            content: "{{.about.Info1}}"
        }).then(function () {
            return botui.message.bot({
                delay: 1000,
                content: "{{.about.Info2}}"
            })
        }).then(function () {
            return botui.message.bot({
                delay: 1000,
                content: "{{.about.Info3}}"
            })
        }).then(function () {
            return botui.action.button({
                delay: 1500,
                action: [{
                    text: "{{.about.Btn1}}",
                    value: "and"
                },
                {
                    text: "{{.about.Btn2}}",
                    value: "gg"
                }]
            })
        }).then(function (res) {
            if (res.value == "and") {
                other()
            }
            if (res.value == "gg") {
                return botui.message.bot({
                    delay: 1500,
                    content: " ![告辞](/static/img/4f6983d663bea83530b8ac3a8a6b9220.jpg) "
                })
            }
        });

        var other = function () {
            botui.message.bot({
                delay: 1500,
                content: "{{.about.Infox1}}"
            }).then(function () {
                return botui.message.bot({
                    delay: 1500,
                    content: "{{.about.Infox2}}"
                })
            }).then(function () {
                return botui.message.bot({
                    delay: 1500,
                    content: "{{.about.Infox3}}"
                })
            }).then(function () {
                return botui.message.bot({
                    delay: 1500,
                    content: "{{.about.Infox4}}"
                })
            }).then(function () {
                return botui.message.bot({
                    delay: 1500,
                    content: "{{.about.Infox5}}"
                })
            }).then(function () {
                return botui.message.bot({
                    delay: 1500,
                    content: "{{.about.Infox6}}"
                })
            }).then(function () {
                return botui.action.button({
                    delay: 1500,
                    action: [{
                        text: "{{.about.Btnx2}}",
                        value: "next"
                    }]
                })
            }).then(function (res) {
                return botui.message.bot({
                    delay: 1500,
                    content: "{{.about.Infof1}}"
                })
            }).then(function (res) {
                return botui.message.bot({
                    delay: 1500,
                    content: "{{.about.Infof2}}"
                })
            }).then(function (res) {
                return botui.message.bot({
                    delay: 1500,
                    content: "{{.about.Infof3}}"
                })
            }).then(function (res) {
                return botui.message.bot({
                    delay: 1500,
                    content: "{{.about.Infof4}}"
                })
            }).then(function () {
                return botui.action.button({
                    delay: 1500,
                    action: [{
                        text: "{{.about.Btnf3}}",
                        value: "next"
                    }]
                })
            }).then(function (res) {
                return botui.message.bot({
                    delay: 1500,
                    content: "{{.about.Infod1}}"
                })
            }).then(function (res) {
                return botui.message.bot({
                    delay: 1500,
                    content: "{{.about.Infod2}}"
                })
            }).then(function (res) {
                return botui.message.bot({
                    delay: 1500,
                    content: "{{.about.Infod3}}"
                })
            }).then(function (res) {
                return botui.message.bot({
                    delay: 1500,
                    content: "{{.about.Infod4}}"
                })
            }).then(function (res) {
                return botui.message.bot({
                    delay: 1500,
                    content: "{{.about.Infod5}}"
                })
            }).then(function (res) {
                return botui.message.bot({
                    delay: 1500,
                    content: "本次会话结束..."
                })
            }).then(function () {
                return botui.message.bot({
                    delay: 1500,
                    content: "欢迎下次再来哦✨"
                })
            });
        }
    </script>
</div>

  {{template "index/footer" .}}

</body>
</html>

{{end}}