{{define "index/header"}}

<!-- 头部导航条 -->
<div class="header-wrap">
    <div class="header">
        <div class="logo">
            <h1><a class="alogo" href="/">{{.info.SiteLogo}}</a></h1>
        </div>
        <div class="word">
            <span class="wenan">{{.info.SiteDesc}}</span>
        </div>
    </div>
</div>
<!-- 头像内容 -->
<div class="bg-wrap">
    <div class="bg-img">
        <div class="central central-800">
            <div
                class="middle animated fadeInDown {{if ne .info.SiteBlur 1}}Blurkg{{end}}">
                <div class="img-male">
                    <img src="https://q1.qlogo.cn/g?b=qq&nk={{.info.BoyQq}}&s=640" draggable="false">
                    <span>{{.info.BoyName}}</span>
                </div>
                <div class="love-icon">
                    <img src="/static/img/like.svg" draggable="false">
                </div>
                <div class="img-female">
                    <img src="https://q1.qlogo.cn/g?b=qq&nk={{.info.GirlQq}}&s=640" draggable="false">
                    <span>{{.info.GirlName}}</span>
                </div>
            </div>
        </div>
        <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
            viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
            <defs>
                <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
            </defs>
            <g class="parallax">
                <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7" />
                <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
                <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
                <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
            </g>
        </svg>
    </div>
</div>

{{end}}