{{define "index/little"}}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    {{template "index/head" .}}
</head>
<body>
  {{template "index/header" .}}
  <div id="pjax-container">
    <div class="central">
        <div class="title">
            <h1>{{.info.CardOneDesc}}</h1>
        </div>
        <div class="row central central-800">
            <!-- php 帖子列表 -->
            {{range $key,$post := .article}}
                <div
                    class="card col-lg-12 col-md-12 col-sm-12 col-sm-x-12">
                    <!-- class="card col-lg-12 col-md-12 col-sm-12 col-sm-x-12 animated fadeInUp delay-03s"> -->
                    <div class="little_texts">
                        <a href="Little/{{$post.ArticleId}}">
                            <div class="top-title textOneHide">{{$post.ArticleTitle}}
                                <svg class="little_icon" aria-hidden="true">
                                    <use xlink:href="#icon-zhankai"></use>
                                </svg>
                            </div>
                        </a>
                        <div class="info">
                            <span>
                                <svg class="little_icon" aria-hidden="true">
                                    <use xlink:href="#icon-shoucang"></use>
                                </svg>
                                {{$post.ArticleAuthor}} <i>记录于</i> {{$post.ArticleTime}}</span> 
                        </div>
                    </div>
                </div>
                {{end}}
        </div>
    </div>
</div>

  {{template "index/footer" .}}

</body>
</html>

{{end}}