{{define "admin/footer"}}

<!-- Footer Start -->
<footer class="footer">
    <div class="row footer_center">
        <div class="col-md-6">
            Copyright © 2022-<sapn id="year"></sapn> <a href="https://obai.cc" target="_blank">RGB255</a> All Rights
            Reserved.
        </div>
    </div>
</footer>
<!-- end Footer -->
</div>

<!-- content-page -->

</div>
<!-- Wap END -->

</div>
<!-- Mian END -->

<script>
    console.log("%c Like Girl For Golang | Powered by RGB255", "color:#fff;background:linear-gradient(270deg,#986fee,#8695e6,#68b7dd,#18d7d3);padding:8px 15px;border-radius:15px");
    console.log("%c WebPage | https://obai.cc", "color:#fff;background:#000;padding:8px 15px;border-radius:15px");    
</script>



<script>
    //setting
    $("#updateSetA").click(()=>{
        let sitename = $("input[name='SiteName']").val()
        let sitelogo = $("input[name='SiteLogo']").val()
        let sitedesc = $("input[name='SiteDesc']").val()
        let siteblur = $("select[name='SiteBlur']").val().trim()
        let sitepajx = $("select[name='SitePajx']").val().trim()

        $.ajax({
            url: "/{{.admin_url}}/siteinfo/updateA",
            data: JSON.stringify({sitename,sitelogo,sitedesc,siteblur:parseInt(siteblur),sitepajx:parseInt(sitepajx)}),
            type: "POST",
            dataType: "json",
            success: function (res) {
                console.log(res);
                
                if (res.code === 200 ) {
                    toastr["success"]("修改成功！", "{{.info.SiteName}}");
                    // $('##updateSetA').text('修改中...');
                    // $("##updateSetA").attr("disabled", "disabled");
                    // setInterval("window.location.href=''", 3000);
                } else {
                    toastr["error"]("修改失败！", "{{.info.SiteName}}");
                }
            },
            error: function (err) {
                toastr["error"]("网络错误 请稍后重试！", "{{.info.SiteName}}");
            }
        })
    })

    $("#updateSetB").click(()=>{
        let boyname = $("input[name='boy']").val();
        let girlname = $("input[name='girl']").val();
        let boyimgurl = $("input[name='boyimgurl']").val();
        let girlimgurl = $("input[name='girlimgurl']").val();
        let starttime = $("input[name='startTime']").val();

        $.ajax({
            url: "/{{.admin_url}}/siteinfo/updateB",
            data: JSON.stringify({boyname,girlname,boyimgurl,girlimgurl,starttime}),
            type: "POST",
            dataType: "json",
            success: function (res) {
                console.log(res);
                
                if (res.code === 200 ) {
                    toastr["success"]("修改成功！", "{{.info.SiteName}}");
                } else {
                    toastr["error"]("修改失败！", "{{.info.SiteName}}");
                }
            },
            error: function (err) {
                toastr["error"]("网络错误 请稍后重试！", "{{.info.SiteName}}");
            }
        })
    })

    $("#updateSetC").click(()=>{
        let bgimgurl = $("input[name='bgimg']").val();
        let cardone = $("input[name='card1']").val();
        let cardonedesc = $("input[name='deci1']").val();
        let cardtwo = $("input[name='card2']").val();
        let cardtwodesc = $("input[name='deci2']").val();
        let cardthree = $("input[name='card3']").val();
        let cardthreedesc = $("input[name='deci3']").val();
        let siteicp= $("input[name='icp']").val();
        let sitegaicp= $("input[name='gaicp']").val();
        let sitecopyright = $("input[name='Copyright']").val();

        $.ajax({
            url: "/{{.admin_url}}/siteinfo/updateC",
            data: JSON.stringify({
                bgimgurl,
                cardone,
                cardonedesc,
                cardtwo,
                cardtwodesc,
                cardthree,
                cardthreedesc,
                siteicp,
                sitegaicp,
                sitecopyright
                }),
            type: "POST",
            dataType: "json",
            success: function (res) {
                console.log(res);
                
                if (res.code === 200 ) {
                    toastr["success"]("修改成功！", "{{.info.SiteName}}");
                } else {
                    toastr["error"]("修改失败！", "{{.info.SiteName}}");
                }
            },
            error: function (err) {
                toastr["error"]("网络错误 请稍后重试！", "{{.info.SiteName}}");
            }
        })
    })

    $("#updateSetD").click(()=>{
        let avatershowtype = $("select[name='AvaterShowType']").val().trim();
        let linktype = $("select[name='LinkType']").val().trim();
        let linkapiurl = $("input[name='LinkApiUrl']").val();
        let linkapitoken = $("input[name='LinkApiToken']").val();
        $.ajax({
            url: "/{{.admin_url}}/siteinfo/updateD",
            data: JSON.stringify({
                avatershowtype:parseInt(avatershowtype),
                linktype:parseInt(linktype),
                linkapiurl,
                linkapitoken,
                }),
            type: "POST",
            dataType: "json",
            success: function (res) {
                console.log(res);
                
                if (res.code === 200 ) {
                    toastr["success"]("修改成功！", "{{.info.SiteName}}");
                } else {
                    toastr["error"]("修改失败！", "{{.info.SiteName}}");
                }
            },
            error: function (err) {
                toastr["error"]("网络错误 请稍后重试！", "{{.info.SiteName}}");
            }
        })
    })

    $("#updateSetE").click(()=>{
        let lenvingsum = $("input[name='lenvingsum']").val();
        let blockword = $("textarea[name='blockword']").val();
        let siteregexp =  $("textarea[name='siteregexp']").val();

        $.ajax({
            url: "/{{.admin_url}}/siteinfo/updateE",
            data: JSON.stringify({lenvingsum:parseInt(lenvingsum),blockword,siteregexp}),
            type: "POST",
            dataType: "json",
            success: function (res) {
                console.log(res);
                
                if (res.code === 200 ) {
                    toastr["success"]("修改成功！", "{{.info.SiteName}}");
                } else {
                    toastr["error"]("修改失败！", "{{.info.SiteName}}");
                }
            },
            error: function (err) {
                toastr["error"]("网络错误 请稍后重试！", "{{.info.SiteName}}");
            }
        })
    })

    $("#updateSetF").click(()=>{
        let siteheadstyle = $("textarea[name='siteheadstyle']").val();
        let sitefootjs = $("textarea[name='sitefootjs']").val();

        $.ajax({
            url: "/{{.admin_url}}/siteinfo/updateF",
            data: JSON.stringify({siteheadstyle,sitefootjs}),
            type: "POST",
            dataType: "json",
            success: function (res) {
                console.log(res);
                
                if (res.code === 200 ) {
                    toastr["success"]("修改成功！", "{{.info.SiteName}}");
                } else {
                    toastr["error"]("修改失败！", "{{.info.SiteName}}");
                }
            },
            error: function (err) {
                toastr["error"]("网络错误 请稍后重试！", "{{.info.SiteName}}");
            }
        })
    })


    $("#littleUpdate").click(function () {
        var id = $("input[name='aid']").val();
        var articletitle = $("input[name='articletitle']").val();
        var articletext = $("textarea[name='articletext']").val();
        if (articletitle.trim().length===0 || articletext.trim().length===0)  {
            toastr["warning"]("文章标题或内容不能为空", "{{.info.SiteName}}");
            return false
        }

        $.ajax({
            url: "/{{.admin_url}}/little/update",
            data: {
                articletitle: articletitle,
                articletext: articletext,
                id: id,
            },
            type: "POST",
            dataType: "json",
            success: function (res) {
                console.log(res);
                
                if (res.code === 200 ) {
                    toastr["success"]("文章修改成功！", "{{.info.SiteName}}");
                    $('#littleUpdate').text('修改中...');
                    $("#littleUpdate").attr("disabled", "disabled");
                    setInterval("window.location.href='/{{.admin_url}}/little'", 3000);
                } else {
                    toastr["error"]("文章修改失败！", "{{.info.SiteName}}");
                }
            },
            error: function (err) {
                toastr["error"]("网络错误 请稍后重试！", "{{.info.SiteName}}");
            }
        }
        )
    })
    $("#littleAddPost").click(function () {
        var articlename = $("select[name='articlename']").val();
        var articletitle = $("input[name='articletitle']").val();
        var articletext = $("textarea[name='articletext']").val();
        if (articletitle.trim().length===0 || articletext.trim().length===0)  {
            toastr["warning"]("文章标题或内容不能为空", "{{.info.SiteName}}");
            return false
        }
        $.ajax({
            url: "/{{.admin_url}}/little/add",
            data: {
                articletitle: articletitle,
                articletext: articletext,
                articlename: articlename,
            },
            type: "POST",
            dataType: "json",
            success: function (res) {
                console.log(res);
                
                if (res.code === 200) {
                    toastr["success"]("新增文章成功！", "{{.info.SiteName}}");
                    $('#littleAddPost').text('发布中...');
                    $("#littleAddPost").attr("disabled", "disabled");
                    setInterval("window.location.href='/{{.admin_url}}/little'", 3000);
                } else {
                    toastr["error"]("新增文章失败！", "{{.info.SiteName}}");
                }
            },
            error: function (err) {
                toastr["error"]("网络错误 请稍后重试！", "{{.info.SiteName}}");
            }
        }
        )
    })
    $("#ImgUpdate").click(function () {
        var imgDatd = $("input[name='imgDatd']").val();
        var imgText = $("input[name='imgText']").val();
        var id = $("input[name='iid']").val();
        var imgUrl = $("input[name='imgUrl']").val();
        if (imgDatd.trim().length===0 || imgText.trim().length===0 || imgUrl.trim().length===0)  {
            toastr["warning"]("图片发布日期、描述、图片地址均不能为空", "{{.info.SiteName}}");
            return false
        }

        $.ajax({
            url: "/{{.admin_url}}/photo/update",
            data: {
                imgDatd: imgDatd,
                imgText: imgText,
                imgUrl: imgUrl,
                id: id,
            },
            type: "POST",
            dataType: "json",
            success: function (res) {
                console.log(res);
                
                if (res.code === 200) {
                    toastr["success"]("相册修改成功！", "{{.info.SiteName}}");
                    $('#ImgUpdate').text('修改中...');
                    $("#ImgUpdate").attr("disabled", "disabled");
                    setInterval("window.location.href='/{{.admin_url}}/photo'", 3000);
                } else  {
                    toastr["error"]("相册修改失败！", "{{.info.SiteName}}");
                }
            },
            error: function (err) {
                toastr["error"]("网络错误 请稍后重试！", "{{.info.SiteName}}");
            }
        }
        )
    })
    $("#ImgAdd").click(function () {
        var imgDatd = $("input[name='imgDatd']").val();
        var imgText = $("input[name='imgText']").val();
        var imgUrl = $("input[name='imgUrl']").val();
        if (imgDatd.trim().length===0 || imgText.trim().length===0 || imgUrl.trim().length===0)  {
            toastr["warning"]("图片发布日期、描述、图片地址均不能为空", "{{.info.SiteName}}");
            return false
        }

        $.ajax({
            url: "/{{.admin_url}}/photo/add",
            data: {
                imgDatd: imgDatd,
                imgText: imgText,
                imgUrl: imgUrl,
            },
            type: "POST",
            dataType: "json",
            success: function (res) {
                console.log(res);
                
                if (res.code === 200) {
                    toastr["success"]("新增相册成功！", "{{.info.SiteName}}");
                    $('#ImgAdd').text('新增中...');
                    $("#ImgAdd").attr("disabled", "disabled");
                    setInterval("window.location.href='/{{.admin_url}}/photo'", 3000);
                } else  {
                    toastr["error"]("新增相册失败！", "{{.info.SiteName}}");
                }
            },
            error: function (err) {
                toastr["error"]("网络错误 请稍后重试！", "{{.info.SiteName}}");
            }
        }
        )
    })
    $("#todolistadd").click(function () {
        var eventname = $("input[name='eventname']").val();
        var icon = $("input[name='icon']").val();
        var imgurl = $("input[name='imgurl']").val();
        if (eventname.trim().length===0 )  {
            toastr["warning"]("事件标题不能为空", "{{.info.SiteName}}");
            return false
        }

        $.ajax({
            url: "/{{.admin_url}}/todolist/add",
            data: {
                text: eventname,
                state: icon.trim(),
                imgurl: imgurl,
            },
            type: "POST",
            dataType: "json",
            success: function (res) {
                console.log(res);
                if (res.code === 200) {
                    toastr["success"]("新增事件成功！", "{{.info.SiteName}}");
                    $('#todolistadd').text('新增中...');
                    $("#todolistadd").attr("disabled", "disabled");
                    setInterval("window.location.href='/{{.admin_url}}/todolist'", 3000);
                } else  {
                    toastr["error"]("新增事件失败！", "{{.info.SiteName}}");
                }
            },
            error: function (err) {
                toastr["error"]("网络错误 请稍后重试！", "{{.info.SiteName}}");
            }
        }
        )
    })

    $("#todolistupdate").click(function () {
        var eventname = $("input[name='eventname']").val();
        var icon = $("input[name='icon']").val();
        var imgurl = $("input[name='imgurl']").val();
        var id = $("input[name='id']").val();
        if (eventname.trim().length===0 )  {
            toastr["warning"]("事件标题不能为空", "{{.info.SiteName}}");
            return false
        }
        if (id.trim().length===0 ||id === undefined)  {
            toastr["warning"]("ID不能为空", "{{.info.SiteName}}");
            return false
        }
        $.ajax({
            url: "/{{.admin_url}}/todolist/update",
            data: {
                text: eventname,
                state: icon.trim(),
                imgurl: imgurl,
                id: id.trim(),
            },
            type: "POST",
            dataType: "json",
            success: function (res) {
                console.log(res);
                
                if (res.code === 200) {
                    toastr["success"]("修改事件成功！", "{{.info.SiteName}}");
                    $('#todolistupdate').text('修改中...');
                    $("#todolistupdate").attr("disabled", "disabled");
                    setInterval("window.location.href='/{{.admin_url}}/todolist'", 3000);
                } else {
                    toastr["error"]("修改事件失败！", "{{.info.SiteName}}");
                }
            },
            error: function (err) {
                toastr["error"]("网络错误 请稍后重试！", "{{.info.SiteName}}");
            }
        }
        )
    })

    $("#ipAddPost").click(function () {
        var ipdz = $("input[name='ipdz']").val();
        var bz = $("input[name='bz']").val();
        $.ajax({
            url: "ipAddPost.php",
            data: {
                ipdz: ipdz,
                bz: bz,
            },
            type: "POST",
            dataType: "text",
            success: function (res) {
                if (res == 1) {
                    toastr["success"]("IP封禁成功！", "{{.info.SiteName}}");
                    $('#listupda').text('提交中...');
                    $("#listupda").attr("disabled", "disabled");
                    setInterval("window.location.href='ipList.php'", 1000);
                } else if (res == 0) {
                    toastr["error"]("IP封禁失败！", "{{.info.SiteName}}");
                }
            },
            error: function (err) {
                toastr["error"]("网络错误 请稍后重试！", "{{.info.SiteName}}");
            }
        }
        )
    })
    
    $("#aboutUpdate").click(function () {
        var title = $("input[name='title']").val();
        var aboutimg = $("input[name='aboutimg']").val();
        var info1 = $("input[name='info1']").val();
        var info2 = $("input[name='info2']").val();
        var info3 = $("input[name='info3']").val();
        var btn1 = $("input[name='btn1']").val();
        var btn2 = $("input[name='btn2']").val();
        var infox1 = $("input[name='infox1']").val();
        var infox2 = $("input[name='infox2']").val();
        var infox3 = $("input[name='infox3']").val();
        var infox4 = $("input[name='infox4']").val();
        var infox5 = $("input[name='infox5']").val();
        var infox6 = $("input[name='infox6']").val();
        var btnx2 = $("input[name='btnx2']").val();
        var infof1 = $("input[name='infof1']").val();
        var infof2 = $("input[name='infof2']").val();
        var infof3 = $("input[name='infof3']").val();
        var infof4 = $("input[name='infof4']").val();
        var btnf3 = $("input[name='btnf3']").val();
        var infod1 = $("input[name='infod1']").val();
        var infod2 = $("input[name='infod2']").val();
        var infod3 = $("input[name='infod3']").val();
        var infod4 = $("input[name='infod4']").val();
        var infod5 = $("input[name='infod5']").val();

        $.ajax({
            url: "/{{.admin_url}}/about/update",
            data: JSON.stringify({
                title: title,
                aboutimg: aboutimg,
                info1: info1,
                info2: info2,
                info3: info3,
                btn1: btn1,
                btn2: btn2,
                infox1: infox1,
                infox2: infox2,
                infox3: infox3,
                infox4: infox4,
                infox5: infox5,
                infox6: infox6,
                btnx2: btnx2,
                infof1: infof1,
                infof2: infof2,
                infof3: infof3,
                infof4: infof4,
                btnf3: btnf3,
                infod1: infod1,
                infod2: infod2,
                infod3: infod3,
                infod4: infod4,
                infod5: infod5,
            }),
            type: "POST",
            dataType: "json",
            success: function (res) {
                if (res.code === 200) {
                    toastr["success"]("修改关于对话配置成功！", "{{.info.SiteName}}");
                    setInterval("window.location.reload()", 5002);
                } else  {
                    toastr["error"]("修改关于对话配置失败！", "{{.info.SiteName}}");
                }
            },
            error: function (err) {
                toastr["error"]("网络错误 请稍后重试！", "{{.info.SiteName}}");
            }
        }
        )
    })
    

    $("#userUpdate").click(()=>{
        let id = $("input[name='uid']").val()
        let username = $("input[name='username']").val().trim()
        let password = $("input[name='password']").val().trim()
        let cpassword = $("input[name='cpassword']").val().trim()
        let qq = $("input[name='qq']").val().trim()

        if (password !== cpassword) {
            toastr["warning"]("两次输入密码不一样！", "{{.info.SiteName}}");
            return false
        }

        $.ajax({
            url: "/{{.admin_url}}/userinfo/update",
            data: {id,username,password,cpassword,qq},
            type: "POST",
            dataType: "json",
            success: function (res) {
                if (res.code === 200 ) {
                    toastr["success"](res.msg, "{{.info.SiteName}}");
                    // $('##updateSetA').text('修改中...');
                    // $("##updateSetA").attr("disabled", "disabled");
                    setInterval("window.location.reload()", 3000);
                } else {
                    toastr["error"](res.msg, "{{.info.SiteName}}");
                }
            },
            error: function (err) {
                toastr["error"]("网络错误 请稍后重试！", "{{.info.SiteName}}");
            }
        })
    })

    //删除项目
    function del(type,id, text) {
        let url;
        let typeName;
        switch (type) {
            case "leaving":
                url = "/leaving/del";
                typeName = "留言"
                break;
            case "article":
                url = "/little/del";
                typeName = "点滴"
                break;
            case "photo":
                url = "/photo/del";
                typeName = "相册"
                break;
            case "todolist":
                url = "/todolist/del";
                typeName = "事件"
                break;
            case "blacklist":
                url = "/blacklist/del";
                typeName = "IP"
                break;
            default:
                break;
        }

        if (confirm(`您确认要删除${typeName}:${text}吗?`)) {
            $.ajax({
            url: "/{{.admin_url}}"+url,
            data: {
                id: id,
                text: text,
                type: type
            },
            type: "POST",
            dataType: "json",
            success: function (res) {
                console.log(res)
                console.log(res.code)
                if (res.code == 200) {
                    toastr["success"]("已成功删除！", "{{.info.SiteName}}");
                    setTimeout('window.location.reload()',5000)
                } else {
                    toastr["error"](res.msg, "{{.info.SiteName}}");
                }
            },
            error: function (err) {
                toastr["error"]("网络错误 请稍后重试！", "{{.info.SiteName}}");
            }
        })
        }
    }

    $("#BoyImgUrl").click(()=>{
        let value = $("#BoyImgUrlvalue")
        let fileInput= $("#BoyImgUrlfile")[0]

        
        var formData = new FormData();

         // 检查是否选择了文件
         if (fileInput.files.length > 0) {
            formData.append('file', fileInput.files[0]);
            $.ajax({
                url: '/{{.admin_url}}/upload/image', // 替换为您的上传处理 URL
                type: 'POST',
                data: formData,
                contentType: false,
                processData: false,
                dataType: "json",
                success: function(response) {
                    if (response.code === 200 ) {
                        if (response.url.length !== 0) {
                            toastr["success"](response.message, "{{.info.SiteName}}");
                            value.val(response.url)
                            fileInput.value = ''
                        }
                } else {
                    toastr["error"](response.message, "{{.info.SiteName}}");
                }
                    // 处理成功响应
                    // console.log('上传成功:', response);
                },
                error: function(jqXHR, textStatus, errorThrown) {
                    // 处理错误响应
                    console.error('上传失败:', textStatus, errorThrown);
                }
            });
        } else {
            toastr["warning"]("请先选择一个文件!", "{{.info.SiteName}}");
        }
    })

    $("#GirlImgUrl").click(()=>{
        let value = $("#GirlImgUrlvalue")
        let fileInput= $("#GirlImgUrlfile")[0]

        
        var formData = new FormData();

         // 检查是否选择了文件
         if (fileInput.files.length > 0) {
            formData.append('file', fileInput.files[0]);
            $.ajax({
                url: '/{{.admin_url}}/upload/image', // 替换为您的上传处理 URL
                type: 'POST',
                data: formData,
                contentType: false,
                processData: false,
                dataType: "json",
                success: function(response) {
                    if (response.code === 200 ) {
                        if (response.url.length !== 0) {
                            toastr["success"](response.message, "{{.info.SiteName}}");
                            value.val(response.url)
                            fileInput.value = ''
                        }
                } else {
                    toastr["error"](response.message, "{{.info.SiteName}}");
                }
                    // 处理成功响应
                    // console.log('上传成功:', response);
                },
                error: function(jqXHR, textStatus, errorThrown) {
                    // 处理错误响应
                    console.error('上传失败:', textStatus, errorThrown);
                }
            });
        } else {
            toastr["warning"]("请先选择一个文件!", "{{.info.SiteName}}");
        }
    })

    $(function () {
        toastr.options = {
            "closeButton": true,
            "debug": false,
            "newestOnTop": false,
            "progressBar": true,
            "rtl": false,
            "positionClass": "toast-top-right",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": 300,
            "hideDuration": 1000,
            "timeOut": 5000,
            "extendedTimeOut": 1000,
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        };

    })

$(document).ready(function() {
    $("#year").append(new Date().getFullYear())
  var $selectElement = $('#example-select1');
  var $qweElements = $('.qwe');

  $selectElement.on('change', function() {
    var $selectedOptions = $('option:selected', this);
    $selectedOptions.each(function() {
      var selectedValue = $(this).val();
      if (selectedValue === '2' ) {
        $qweElements.show();
      } else {
        $qweElements.hide();
        $("input[name='LinkApiUrl']").val("");
        $("input[name='LinkApiToken']").val("");
      }
    });
  });

  // 页面加载时,根据 select 元素的初始选中值,显示或隐藏 qwe 类的元素
  var $initialSelectedOptions = $selectElement.find('option:selected');
  if ($initialSelectedOptions.length > 0) {
    var initialSelectedValue = $initialSelectedOptions.val();
    if (initialSelectedValue === '2') {
      $qweElements.show();
    } else {
      $qweElements.hide();
    }
  }
});


</script>

<script src="/static/toastr/toastr.js"></script>
<!-- App js -->
<script src="/static/js/app.min.js"></script>

<!-- end demo js-->
<script src="/static/js/pages/demo.toastr.js"></script>

{{end}}