{{define "admin/little"}}
{{template "admin/header" .}}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <h4 class="header-title mb-3 size_18">点点滴滴
                    <a class="fabu" href="/{{.admin_url}}/little/add">
                        <button type="button" class="btn btn-success btn-sm right_10">
                            <i class="mdi mdi-circle-edit-outline"></i>新增
                        </button>
                    </a></h4>
                <table id="basic-datatable" class="table dt-responsive nowrap" width="100%">
                    <thead>
                    <tr>
                        <th>标题</th>
                        <th>发布时间</th>
                        <th>发布者</th>
                        <th style="width:150px;">操作</th>
                    </tr>
                    </thead>

                    <form class="needs-validation" action="littleupda.php" method="post">
                        <tbody>
                            {{$url := .admin_url}}
                        {{range $key,$list := .littleList}}
                            <tr>
                                <td>{{$list.ArticleTitle}}</td>
                                <td>{{$list.ArticleTime|formatDate}}</td>
                                <td>{{$list.ArticleAuthor}}</td>
                                <td>
                                    <a href="/{{$url}}/little/update/{{$list.ArticleId}}">
                                        <button type="button" class="btn btn-secondary btn-rounded">
                                            <i class=" mdi mdi-clipboard-text-play-outline mr-1"></i>修改
                                        </button>
                                    </a>
                                    <a href="javascript:del('article',{{$list.ArticleId}},'{{$list.ArticleTitle}}');">
                                        <button type="button" class="btn btn-danger btn-rounded">
                                            <i class=" mdi mdi-delete-empty mr-1"></i>删除
                                        </button>
                                    </a>
                                    <input name="id" value="php  echo $info['id']; php " type="hidden">

                                </td>
                            </tr>
                            {{end}}
                        </tbody>
                </table>
                </form>

            </div> <!-- end card body-->
        </div> <!-- end card -->
    </div><!-- end col-->
</div>
{{template "admin/footer" .}}
</body>
</html>
{{end}}