{{define "admin/photo"}}
{{template "admin/header" .}}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="header-title mb-3 size_18">恋爱相册<a href="/{{.admin_url}}/photo/add">
                        <button type="button" class="btn btn-success btn-sm right_10">
                            <i class="mdi mdi-circle-edit-outline"></i>新增
                        </button>
                    </a></h4>
                <table id="basic-datatable" class="table dt-responsive nowrap" width="100%">
                    <thead>
                    <tr>
                        <th>图片描述</th>
                        <th>日期</th>
                        <th style="width:150px;">操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{range $key,$list := .photoList}}
                        <tr>
                            <td>{{$list.ImgText}}</td>
                            <td>{{$list.ImgTime}}</td>
                            <td>
                                <a href="modImg.php?id={{$list.ImgId}}">
                                    <button type="button" class="btn btn-secondary btn-rounded">
                                        <i class=" mdi mdi-clipboard-text-play-outline mr-1"></i>修改
                                    </button>
                                </a>
                                <a href="javascript:del({{$list.ImgId}},'{{$list.ImgText}} ');">
                                    <button type="button" class="btn btn-danger btn-rounded">
                                        <i class=" mdi mdi-delete-empty mr-1"></i>删除
                                    </button>
                                </a></td>
                        </tr>
                    {{end}}
                    </tbody>
                </table>

            </div> <!-- end card body-->
        </div> <!-- end card -->
    </div><!-- end col-->
</div>


<script>
    function del(id, imgText) {
        if (confirm('您确认要删除描述为 ' + imgText + ' 的相册图片吗')) {
            location.href = 'delImg.php?id=' + id + '&imgText' + imgText;
        }
    }

</script>

{{template "admin/footer"}}

</body>
</html>
{{end}}