{{define "admin/photoAdd"}}
{{template "admin/header" .}}

<div class="row">

    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <h4 class="header-title mb-3 size_18">{{.h4}}图片</h4>

                <form class="needs-validation"
                      novalidate>
                    <div class="form-group mb-3">
                        <label for="validationCustom01">日期</label>
                        <input class="form-control col-sm-4" id="example-date" type="datetime-local" name="imgDatd" class="form-control" placeholder="日期" value="{{.ph.ImgTime|ConvertTimestampToString}}" required>
                    </div>
                    <input type="text" value="{{.ph.ImgId}}" name="iid" hidden>
                    <div class="form-group mb-3">
                        <label for="validationCustom01">图片描述<span class="margin_left badge badge-success-lighten">尽量控制在25个字符以内 </span></label>
                        <input name="imgText" type="text" class="form-control" placeholder="请输入图片描述" value="{{.ph.ImgText}}" required>
                    </div>

                    <div class="form-group mb-3" id="img_url">
                        <label for="validationCustom01">图片URL</label>
                        <input type="text" name="imgUrl" id="img-p" class="form-control" placeholder="请输入图片URL地址" value="{{.ph.ImgUrl}}" required>
                        {{if eq .info.LinkType 1}}
                        <br/>
                        <div class="input-group">
                            <input type="file" class="form-control" id="img-p-f"  name="file" accept="image/*">
                            <button style="color: #FFF;background-color: #6c757d;" class="btn btn-outline-secondary" type="button" id="img-p-b" >上传图片</button>
                          </div>
                        {{end}}
                    </div>
                    <div class="form-group mb-3 text_right">
                        {{$lt := .ph.ImgText|len}}
                        {{if eq $lt 0}}
                        <button class="btn btn-primary"  type="button" id="ImgAdd">新增相册</button>
                        {{else}}
                        <button class="btn btn-primary"  type="button" id="ImgUpdate">修改相册</button>
                        {{end}}
                    </div>
                </form>

            </div> <!-- end card-body-->
        </div> <!-- end card-->
    </div> <!-- end col-->
</div>

{{template "admin/footer" .}}

</body>
</html>
{{end}}