{{define "admin/datatable" }}
<!-- third party js -->
<script src="/static/js/vendor/jquery.dataTables.min.js"></script>
<script src="/static/js/vendor/dataTables.bootstrap4.js"></script>
<script src="/static/js/vendor/dataTables.responsive.min.js"></script>
<script src="/static/js/vendor/responsive.bootstrap4.min.js"></script>
<script src="/static/js/vendor/dataTables.buttons.min.js"></script>
<script src="/static/js/vendor/buttons.bootstrap4.min.js"></script>
<script src="/static/js/vendor/buttons.html5.min.js"></script>
<script src="/static/js/vendor/buttons.flash.min.js"></script>
<script src="/static/js/vendor/buttons.print.min.js"></script>
<script src="/static/js/vendor/dataTables.keyTable.min.js"></script>
<script src="/static/js/vendor/dataTables.select.min.js"></script>
<!-- third party js ends -->
<!-- demo app -->
<script src="/static/js/pages/demo.datatable-init.js"></script>
<!-- end demo js-->
 {{end}}