{{define "install"}}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8"/>
    <title>Like_Girl_Golang 设置用户名</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description"/>
    <meta content="Coderthemes" name="author"/>

    <!-- App css -->
    <link href="/static/css/icons.min.css" rel="stylesheet" type="text/css"/>
    <link href="/static/css/app.min.css" rel="stylesheet" type="text/css"/>
    <link href="/static/css/loading.css" rel="stylesheet">
</head>

<div id="Loadanimation" style="z-index:999999;">
    <div id="Loadanimation-center">
        <div id="Loadanimation-center-absolute">
            <div class="xccx_object" id="xccx_four"></div>
            <div class="xccx_object" id="xccx_three"></div>
            <div class="xccx_object" id="xccx_two"></div>
            <div class="xccx_object" id="xccx_one"></div>
        </div>
    </div>
</div>
<script src="/static/jquery/jquery.min.js"></script>
<script>
    $(function () {
        $("#Loadanimation").fadeOut(1000);
    });
</script>

<style>
    .card {
        border-radius: 15px;
    }

    .card-header.pt-4.pb-4.text-center.bg-primary {
        border-radius: 15px 15px 0 0;
    }

    .btn-primary {
        padding: 10px 25px;
        border-radius: 20px;
    }
</style>

<body class="authentication-bg">
<div class="account-pages mt-5 mb-5">
    <div class="container">
        
        <div class="row justify-content-center">
            <!-- <div class="col-lg-5"> -->
            <div class="col">
                <div class="card">

                    <!-- Logo -->
                    <div class="card-header pt-4 pb-4 text-center bg-primary">
                        <a href="##">
                            <span style="color: #fff;font-size: 1.2rem;">Like_Girl_Golang</span>
                        </a>
                    </div>

                    <div class="card-body p-4">

                        <div class="text-center w-75 m-auto">
                            <h4 class="text-dark-50 text-center mt-0 font-weight-bold">{{.info.SiteName}} </h4>
                            <p class="text-muted mb-4">花有重开日 人无再少年</p>
                        </div>
                        {{if ne .code 200 }}
                        <div class="alert alert-danger" role="alert">
                            {{.msg}}
                          </div>
                        {{end}}

                        <form  method="post">
                            <div class="container text-center">
                                <div class="row">
                                  <div class="col">
                                    <div class="input-group mb-3">
                                        <span class="input-group-text" id="inputGroup-sizing-default">男生登录用户名：</span>
                                        <input type="text" name="boyName" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" required> 
                                      </div>
                                  </div>
                                  <div class="col">
                                    <div class="input-group mb-3">
                                        <span class="input-group-text" id="inputGroup-sizing-default">男生登录密码：</span>
                                        <input type="text" name="boyPass" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" required>
                                      </div>
                                  </div>
                                  <div class="col">
                                    <div class="input-group mb-3">
                                        <span class="input-group-text" id="inputGroup-sizing-default">男生QQ账号：</span>
                                        <input type="text" name="boyQq" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" required>
                                      </div>
                                  </div>
                                </div>
                              </div>
                              
                            <div class="container text-center">
                                <div class="row">
                                  <div class="col">
                                    <div class="input-group mb-3">
                                        <span class="input-group-text" id="inputGroup-sizing-default">女生登录用户名：</span>
                                        <input type="text" name="girlName" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" required>
                                      </div>
                                  </div>
                                  <div class="col">
                                    <div class="input-group mb-3">
                                        <span class="input-group-text" id="inputGroup-sizing-default">女生登录密码：</span>
                                        <input type="text" name="girlPass" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" required>
                                      </div>
                                  </div>
                                  <div class="col">
                                    <div class="input-group mb-3">
                                        <span class="input-group-text" id="inputGroup-sizing-default">女生QQ账号：</span>
                                        <input type="text" name="girlQq" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" required>
                                      </div>
                                  </div>
                                </div>
                              </div>

                              <div class="card">
                                <div class="card-header">
                                  提示
                                </div>
                                <div class="card-body">
                                  <!-- <h5 class="card-title">关于后台地址</h5>
                                  <p class="card-text">顾名思义就是访问后台的地址，可以起到隐藏后台的作用，不填默认为<span style="color: red"> Admin </span>,无需输入斜杆<span style="color: red"> / </span>。</p>
                                  <h5 class="card-title">关于数据库</h5>
                                  <p class="card-text">本系统程序本就轻量化，所有采用的sqlite文件数据库，需在第二个文本框中输入自己想要的数据库文件名，留空系统将自动生成，或点随机生成，无需填写<span style="color: red"> .db </span>后缀。</p>
                                  <h5 class="card-title">关于加密盐</h5>
                                  <p class="card-text">混淆用户密码加密，为了使密码更加复杂，自定义输入或点随机生成，留空则为系统默认。</p> -->
                                  <h5 class="card-title">关于用户信息</h5>
                                  <p class="card-text">创建两个后台用户，一个男士登录，一个女士登录，QQ号可用做前台页面头像显示。</p>
                                  <!-- <div class="alert alert-info" role="alert">安装成功后程序会创建两个文件，一个为数据库文件，另一个为 conf.ini 的配置文件，以上所填信息除用户信息外均写入配置文件中。</div> -->
                                </div>
                              </div>

                            <div class="form-group mb-0 text-center">
                                <button class="btn btn-primary" id="login">安装</button>
                            </div>

                        </form>
                    </div> <!-- end card-body -->
                </div>
                <!-- end card -->

            </div>
            <!-- end row -->

        </div> <!-- end col -->
    </div>
    <!-- end row -->
</div>
<!-- end container -->
</div>
<!-- end page -->

<footer class="footer footer-alt">
</footer>

<!-- App js -->
<script src="/static/js/app.min.js"></script>

</body>
</html>
{{end}}